<div class="row">
  <div class="col-md-6 div1" id="div1" style=";height: 100vh; margin-top: 20px">
    <h3 class="text-center m-2">About Us</h3>
    <p class="text-center m-4">In This Website We Implements A List Of TODO <br> <br>
      Which Is : A List Of Tasks You Need To Complete, Or Things That You Want To Do. <br> <br>
    To Help You Arrange Your Work And Finish It In The Spacefic Time.<br> <br>
      Hope You Are Enjoing Whit It.
    </p>
  </div>
  <div class="col-md-6 div1" id="div2" style="background-color: white;height: 100vh">
    <img src="https://cdn.statically.io/img/cdn6.aptoide.com/india-market/70fba2f8d85441ddfc06cb49fa60babf_icon.png">
  </div>
</div>
