<section id="contact" class="p-2" style="background-color:gray;">
  <div style="width: 80%; margin-left: 30%">
    <div class="container">
      <h2 style="color:white;">Contact Us</h2>
      <p style="color:white;">Feel free to contact with us and tell us what you want.</p>
      <div class="row">
        <div class="col-md-5">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="exampleInputName2" style="color: white">Name</label>
              <input type="text" class="form-control" id="exampleInputName2" placeholder="Your Name">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail2" style="color: white">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail2" placeholder="example@example.com">
            </div>
            <div class="form-group ">
              <label style="color: white">Your Message</label>
              <textarea  class="form-control" placeholder="Description"></textarea>
            </div>
            <button type="submit" class="btn btn-info m-4" style="color: white">Send Message</button>
          </form>

          <hr>
<!--          <h3 style="color:white;">Our Social Sites</h3>-->
<!--          <ul class="list-inline banner-social-buttons">-->
<!--            <li><a href="https://twitter.com" class="btn btn-default btn-lg"><i class="fa fa-twitter" style="color:#5CB8C5"> <span class="network-name" style="color: white">Twitter</span></i></a></li>-->
<!--            <li><a href="https://facebook.com" class="btn btn-default btn-lg"><i class="fa fa-facebook" style="color:darkblue"> <span class="network-name" style="color: white">Facebook</span></i></a></li>-->
<!--            <li><a href="https://youtube.com" class="btn btn-default btn-lg"><i class="fa fa-youtube-play" style="color:red"> <span class="network-name" style="color: white">Youtube</span></i></a></li>-->
<!--          </ul>-->
        </div>
      </div>
    </div>
  </div>
</section>
